<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <title>Frontend Mentor | Interactive comments section</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <header>
      <h1 class="visually-hidden">Interactive comments section</h1>
    </header>
    <main class="main">
      <% comments.forEach(comment => {%>
      <div class="card comment">
        <div class="details-wrapper">
          <img src="<%= comment.user.image.png %>" alt="" class="avatar" />
          <span class="username"><%= comment.user.username %></span>
          <span><%= comment.createdAt %></span>
        </div>
        <p class="paragraph"><%= comment.content %></p>
        <div class="interactive-components-wrapper">
          <div class="score-wrapper">
            <button class="change-score">
              <img src="./images/icon-plus.svg" alt="" />
            </button>
            <span class="score"><%= comment.score %></span>
            <button class="change-score">
              <img src="./images/icon-minus.svg" alt="" />
            </button>
          </div>
          <div>
            <% if (currentUser.username === comment.user.username) {%>
            <form
              action="/delete/<%= comment._id %>?_method=DELETE"
              method="POST"
              name="deleteComment"
            >
              <button class="btn btn-delete">
                <img src="./images/icon-delete.svg" alt="" />Delete
              </button>
              <input type="hidden" name="formName" value="deleteComment" />
            </form>
            <button class="btn btn-edit">
              <img src="./images/icon-edit.svg" alt="" />Edit
            </button>
            <% } else { %>
            <button class="btn btn-reply">
              <img src="./images/icon-reply.svg" alt="" />Reply
            </button>
            <% } %>
          </div>
        </div>
      </div>
      <div class="card reply reply-form">
        <img src="<%= currentUser.image.png %>" alt="" class="avatar" />
        <form action="/add" method="POST" name="addReply">
          <label for="addReply" class="visually-hidden">Add a reply...</label>
          <textarea
            placeholder="Add a reply..."
            id="addReply"
            name="commentContent"
          ></textarea>
          <button type="submit">Send</button>
          <input
            type="hidden"
            name="currentUser"
            value="<%= JSON.stringify(currentUser) %>"
          />
          <input type="hidden" name="formName" value="addReply" />
          <input
            type="hidden"
            name="replyingTo"
            value="<%= comment.user.username
        %>"
          />
          <input
            type="hidden"
            name="commentId"
            value="<%= comment._id
        %>"
          />
        </form>
      </div>
      <% if (currentUser.username === comment.user.username) {%>
      <div class="card comment">
        <form
          action="/edit/<%= comment._id %>?_method=PATCH"
          method="POST"
          name="editComment"
        >
          <img src="<%= currentUser.image.png %>" alt="" class="avatar" />
          <label for="editComment<%= comment._id %>" class="visually-hidden"
            >Edit a comment...</label
          >
          <textarea
            placeholder="Edit a comment..."
            id="editComment<%= comment._id %>"
            name="commentContent"
          >
<%= comment.content %></textarea
          >
          <button type="submit">Send</button>
          <input
            type="hidden"
            name="currentUser"
            value="<%= JSON.stringify(currentUser) %>"
          />
          <input type="hidden" name="formName" value="editComment" />
        </form>
      </div>
      <% }%> <% comment.replies.forEach(reply => {%>
      <div class="card reply">
        <div class="details-wrapper">
          <img src="<%= reply.reply.user.image.png %>" alt="" class="avatar" />
          <span class="username"><%= reply.reply.user.username %></span>
          <span><%= reply.reply.createdAt %></span>
        </div>
        <p class="paragraph">
          <span class="username replying-to"
            >@<%= reply.reply.replyingTo %></span
          >
          <%= reply.reply.content %>
        </p>
        <div class="interactive-components-wrapper">
          <div class="score-wrapper">
            <button class="change-score">
              <img src="./images/icon-plus.svg" alt="" />
            </button>
            <span class="score"><%= reply.reply.score %></span>
            <button class="change-score">
              <img src="./images/icon-minus.svg" alt="" />
            </button>
          </div>
          <div class="crud-wrapper">
            <% if (currentUser.username === reply.reply.user.username) {%>
            <form
              action="/delete/<%= reply.reply._id %>?_method=DELETE"
              method="POST"
              name="deleteReply"
            >
              <button class="btn btn-delete">
                <img src="./images/icon-delete.svg" alt="" />Delete
              </button>
              <input type="hidden" name="formName" value="deleteReply" />
              <input type="hidden" name="arrayId" value="<%= reply.id %>" />
              <input
                type="hidden"
                name="commentId"
                value="<%= comment._id
        %>"
              />
            </form>
            <button class="btn btn-edit">
              <img src="./images/icon-edit.svg" alt="" />Edit
            </button>
            <% } else { %>
            <button class="btn btn-reply">
              <img src="./images/icon-reply.svg" alt="" />Reply
            </button>
            <% } %>
          </div>
        </div>
      </div>
      <% if (currentUser.username === reply.reply.user.username) {%>
      <div class="card reply reply-form">
        <form
          action="/edit/<%= reply.reply._id %>?_method=PATCH"
          method="POST"
          name="editReply"
        >
          <img src="<%= currentUser.image.png %>" alt="" class="avatar" />
          <label for="editReply<%= reply.reply._id %>" class="visually-hidden"
            >Edit a reply...</label
          >
          <textarea
            placeholder="Edit a reply..."
            id="editReply<%= reply.reply._id %>"
            name="commentContent"
          >
<%= reply.reply.content %></textarea
          >
          <button type="submit">Send</button>
          <input
            type="hidden"
            name="currentUser"
            value="<%= JSON.stringify(currentUser) %>"
          />
          <input type="hidden" name="formName" value="editReply" />
        </form>
      </div>
      <% }%> <% })%> <% })%>
      <div class="card comment add-comment">
        <div class="avatar-wrapper">
          <img src="<%= currentUser.image.png %>" alt="" class="avatar" />
        </div>
        <form
          action="/add"
          method="POST"
          name="addComment"
          class="comment-form"
        >
          <label for="addComment" class="visually-hidden"
            >Add a comment...</label
          >
          <textarea
            placeholder="Add a comment..."
            id="addComment"
            name="commentContent"
            class="textarea"
          ></textarea>
          <button type="submit" class="send">Send</button>
          <input
            type="hidden"
            name="currentUser"
            value="<%= JSON.stringify(currentUser) %>"
          />
          <input type="hidden" name="formName" value="addComment" />
        </form>
      </div>
    </main>
    <footer>
      <p class="attribution">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
          >Frontend Mentor</a
        >. Coded by
        <a href="https://nakoyawilson.netlify.app/">Nakoya Wilson</a>.
      </p>
    </footer>
  </body>
</html>
